data-raw/
jan25analysis/
data/
reports/
*_files/
.DS_store
.Rhistory
*.pdf
*.html
scratch-files/
hmm_bin_2s
mic_model_v2
archive/hmm
archive/hmm2
archive/hmm3
archive/hmm_final
gp_model
*otter*
*.svg
manuscript/
